In [6]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

# Aggregated Transaction data India

In [7]:
import os
path="/content/pulse/data/aggregated/transaction/country/india/"
Agg_India_list=os.listdir(path)
Agg_India_list.remove('state')
Agg_India_list

['2023', '2021', '2022', '2024', '2019', '2020', '2018']

In [8]:
# Required libraries
import pandas as pd
import json

# Initialize dictionary to store transaction data for India (aggregated at country level)
cli = {
    'Year': [],
    'Quater': [],
    'Transacion_type': [],
    'Transacion_count': [],
    'Transacion_amount': []
}

# Use the list of years from the India-level aggregated data
Agg_yr = Agg_India_list  # Make sure Agg_India_list is defined earlier

# Loop through each year folder
for i in Agg_India_list:
    p_i = path + i + "/"  # Path to the year folder
    Agg_qtr = os.listdir(p_i)  # List of quarter JSON files

    # Loop through each quarter JSON file
    for j in Agg_qtr:
        path_j = p_i + j  # Full path to the JSON file

        # Open and load the JSON data
        with open(path_j, 'r') as Data:
            D = json.load(Data)

            # Extract transaction data
            for z in D['data']['transactionData']:
                Name = z['name']
                count = z['paymentInstruments'][0]['count']
                amount = z['paymentInstruments'][0]['amount']

                # Append extracted data to the dictionary
                cli['Transacion_type'].append(Name)
                cli['Transacion_count'].append(count)
                cli['Transacion_amount'].append(amount)
                cli['Year'].append(i)
                cli['Quater'].append(int(j.strip('.json')))

# Convert the dictionary to a pandas DataFrame
Agg_Ind = pd.DataFrame(cli)

,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,2023,1,Merchant payments,7205999708,3.745995e+12
1,2023,1,Peer-to-peer payments,4792478560,1.592488e+13
2,2023,1,Recharge & bill payments,1076952638,8.299528e+11
3,2023,1,Financial Services,4884759,5.673344e+09
4,2023,1,Others,10259195,7.571901e+09
...,...,...,...,...,...
135,2018,4,Peer-to-peer payments,200235002,5.949957e+11
136,2018,4,Recharge & bill payments,131917248,3.957861e+10
137,2018,4,Merchant payments,71498510,3.049729e+10
138,2018,4,Financial Services,5216165,8.685846e+08
139,2018,4,Others,8246415,5.802660e+09

# Aggregated Transaction data India state

In [9]:
# Required libraries for the program
# (Make sure to import these before running the code)
# import os
# import json
# import pandas as pd

# Define the path to the transaction data by state
path = "/content/pulse/data/aggregated/transaction/country/india/state/"

# Get the list of states available in the dataset
Agg_state_list = os.listdir(path)
# Agg_state_list now contains all state folders

# Initialize dictionary to store transaction data
clm = {
    'State': [],
    'Year': [],
    'Quater': [],
    'Transacion_type': [],
    'Transacion_count': [],
    'Transacion_amount': []
}

# Loop through each state folder
for i in Agg_state_list:
    p_i = path + i + "/"  # Path to the state folder
    Agg_yr = os.listdir(p_i)  # List of years available for the state

    # Loop through each year folder
    for j in Agg_yr:
        p_j = p_i + j + "/"  # Path to the year folder
        Agg_yr_list = os.listdir(p_j)  # List of quarter JSON files

        # Loop through each quarter JSON file
        for k in Agg_yr_list:
            p_k = p_j + k  # Full path to the JSON file

            # Open and load the JSON data
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                # Extract transaction data from the JSON
                for z in D['data']['transactionData']:
                    Name = z['name']
                    count = z['paymentInstruments'][0]['count']
                    amount = z['paymentInstruments'][0]['amount']

                    # Append extracted data to the dictionary
                    clm['Transacion_type'].append(Name)
                    clm['Transacion_count'].append(count)
                    clm['Transacion_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))

# Convert the dictionary to a pandas DataFrame
Agg_Trans = pd.DataFrame(clm)

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,tripura,2023,1,Merchant payments,2991978,2.538146e+09
1,tripura,2023,1,Peer-to-peer payments,2961284,1.017088e+10
2,tripura,2023,1,Recharge & bill payments,1146228,5.659028e+08
3,tripura,2023,1,Financial Services,7716,6.190362e+06
4,tripura,2023,1,Others,11481,7.160536e+06
...,...,...,...,...,...,...
5029,arunachal-pradesh,2018,4,Recharge & bill payments,97751,2.066269e+07
5030,arunachal-pradesh,2018,4,Peer-to-peer payments,68169,4.688315e+08
5031,arunachal-pradesh,2018,4,Merchant payments,7726,1.199897e+07
5032,arunachal-pradesh,2018,4,Financial Services,561,1.005979e+05
5033,arunachal-pradesh,2018,4,Others,2222,2.446272e+06

# Aggregated User State

In [10]:
import os
import json
import pandas as pd

path = "/content/pulse/data/aggregated/user/country/india/state/"
Agg_user_list = os.listdir(path)

Agg_user_state = {
    'State': [], 'Year': [], 'Quater': [],
    'registeredUsers': [], 'appOpens': []
}

Users_by_devices = {
    'State': [], 'Year': [], 'Quater': [],
    'Brand': [], 'Brand_count': [], 'Brand_percentage': []
}

for i in Agg_user_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k

            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                    # Extract aggregated data
                    registeredUsers = D['data']['aggregated'].get('registeredUsers')
                    appOpens = D['data']['aggregated'].get('appOpens')

                    Agg_user_state['registeredUsers'].append(registeredUsers)
                    Agg_user_state['appOpens'].append(appOpens)
                    Agg_user_state['State'].append(i)
                    Agg_user_state['Year'].append(j)
                    Agg_user_state['Quater'].append(int(k.strip('.json')))

                    # Extract usersByDevice only if it's a list
                    usersByDevice = D['data'].get('usersByDevice')
                    if isinstance(usersByDevice, list):
                        for device in usersByDevice:
                            Brand = device.get('brand')
                            Brand_count = device.get('count')
                            Brand_percentage = device.get('percentage')

                            Users_by_devices['Brand'].append(Brand)
                            Users_by_devices['Brand_count'].append(Brand_count)
                            Users_by_devices['Brand_percentage'].append(Brand_percentage)
                            Users_by_devices['State'].append(i)
                            Users_by_devices['Year'].append(j)
                            Users_by_devices['Quater'].append(int(k.strip('.json')))

            except Exception as e:
                print(f"Error processing file {p_k}: {e}")

# Convert to DataFrames
Agg_User_State = pd.DataFrame(Agg_user_state)
Users_by_Devices = pd.DataFrame(Users_by_devices)
Users_by_Devices

# Optional: display or save the DataFrames
# print(Agg_User_State)
# print(Users_by_Devices)

                  State  Year  Quater     Brand  Brand_count  Brand_percentage
0               tripura  2021       1    Xiaomi       108575          0.246966
1               tripura  2021       1   Samsung        99168          0.225568
2               tripura  2021       1      Oppo        62419          0.141979
3               tripura  2021       1      Vivo        53698          0.122142
4               tripura  2021       1    Realme        42622          0.096948
...                 ...   ...     ...       ...          ...               ...
6727  arunachal-pradesh  2018       4    Gionee         1188          0.019207
6728  arunachal-pradesh  2018       4  Motorola          944          0.015262
6729  arunachal-pradesh  2018       4   OnePlus          896          0.014486
6730  arunachal-pradesh  2018       4    Lenovo          831          0.013435
6731  arunachal-pradesh  2018       4    Others         5234          0.084621

[6732 rows x 6 columns]

# Aggregated User India

In [35]:
# Define the path to the aggregated user data for India
path = "/content/pulse/data/aggregated/user/country/india/"

# List all items in the directory and remove 'state' as it's not needed
Agg_India_user = os.listdir(path)
Agg_India_user.remove('state')

# Initialize dictionary to store aggregated user data
Agg_user_Ind = {
    'Year': [],
    'Quater': [],
    'registeredUsers': [],
    'appOpens': []
}

# Initialize dictionary to store user device data
Users_by_devices = {
    'Year': [],
    'Quater': [],
    'Brand': [],
    'Brand_count': [],
    'Brand_percentage': []
}

# Loop through each year folder in the India user data
for i in Agg_India_user:
    p_i = path + i + "/"  # Construct path to the year folder
    Agg_user = os.listdir(p_i)  # List all JSON files (quarters) in the year folder

    # Loop through each quarter JSON file
    for j in Agg_user:
        path_j = p_i + j  # Full path to the JSON file

        try:
            # Open and load the JSON data
            with open(path_j, 'r') as Data:
                D = json.load(Data)

                # Extract registered users and app opens
                registeredUsers = D['data']['aggregated'].get('registeredUsers')
                appOpens = D['data']['aggregated'].get('appOpens')

                # Append data to the aggregated user dictionary
                Agg_user_Ind['registeredUsers'].append(registeredUsers)
                Agg_user_Ind['appOpens'].append(appOpens)
                Agg_user_Ind['Year'].append(i)
                Agg_user_Ind['Quater'].append(int(j.strip('.json')))

                # Extract device usage data if available
                usersByDevice = D['data'].get('usersByDevice')
                if isinstance(usersByDevice, list):
                    for device in usersByDevice:
                        Brand = device.get('brand')
                        Brand_count = device.get('count')
                        Brand_percentage = device.get('percentage')

                        # Append device data to the device dictionary
                        Users_by_devices['Brand'].append(Brand)
                        Users_by_devices['Brand_count'].append(Brand_count)
                        Users_by_devices['Brand_percentage'].append(Brand_percentage)
                        Users_by_devices['Year'].append(i)
                        Users_by_devices['Quater'].append(int(j.strip('.json')))
        except Exception as e:
            # Print error message if file processing fails
            print(f"Error processing file {path_j}: {e}")

# Convert dictionaries to pandas DataFrames for further analysis
Agg_Ind_User = pd.DataFrame(Agg_user_Ind)
Users_by_devices = pd.DataFrame(Users_by_devices)